h1{
  color:white;
  font-size: 3em;
  text-align: center;
}
h2{
  color:white;
  font-size: 1.7em;
  text-align: center;
}
ul{
  list-style:none;
}
li {
  margin: 20px;
  transition: 0.6s ease;
}
li:hover {
  font-size: 2em;
  transition: 0.6s ease;
}
a {
  color:white;
}
